

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
 
  text-transform: uppercase; 
}

.container {
  object-fit: contain;
  display: flex;
 justify-content: space-around;
  
}

.containerZ {
  object-fit: contain;
  /* display: flex; */
  justify-content: space-around;
}


p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/

section {
  padding: 5em 0;
}

.clip-circleZ {
  /* object-fit: cover; */
  /* object-position: center; */
  width: 100%;
  /* height: 350px; */
  overflow: hidden;
  padding: 95px;
}

.clip-circleX {
  /* object-fit: cover; */
  /* object-position: center; */
  width: 100%;
  /* height: 350px; */
  overflow: hidden;
  padding: 95px;
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

/*Header*/

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $red;
}

.navbar-default .navbar-nav>li>a:active {
  color: darken($red, 5%);
}

/*Main*/

.sec-main {
  position: relative;
  height: 350px;
  background: url(https://preview.ibb.co/iK56rw/nametag_empty.png) no-repeat center center;
  background-size: 400px 250px;
  background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
 padding: 10%;
  background-color: white;
  display: flex;
flex-wrap: wrap;
align-items: center;


}



  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*About*/
/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px
}

.sec-services h2 {
  margin: 1em 0;
}

/*Testimonials*/

.sec-testimonials {
  background: #f9f9f9;
}

/*Contact*/

.sec-contact .form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}
/*Footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
    color: white;
    text-align: center;
    bottom: -2%;
    padding: 2em 0;
}


.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em .65rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;

}



.box {
  margin: 30px 10px;
  width: 320px;
  height: 450px;
  background-color: #FBFBFC;
  box-shadow: 0 0 6px rgba(0,0,0,.2);
    float: left; 
    margin: 15px;
    border-radius: 20px;
 
}



 .container1 {
  width: 100%;
  margin: 0;
  padding: 10px;

}


.icon-buttona {
   -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;


}

.icon-buttona:hover {
     width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;
    
}

.icon-button1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
     

}

.icon-button1:hover {
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;
}

.icon-button2 {
    -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}
.icon-button2:hover {
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;

}

.icon-button3 {
    -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.icon-button3:hover {
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;

}

.icon-button4 {
   -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.icon-button4:hover {
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;

}

.icon-button5 {
    -webkit-transition-duration: 0.4s; /* Safari */
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.icon-button5:hover {
    width: 100px;
    height: 100px;
    float: left;
    background: white;   
    margin: 15px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.124), 0 5px 5px 0 rgba(0,0,0,0.119);
    font-family: 'Poppins', sans-serif;

}


.center-btn { text-align: center }



  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

h1 {
    text-align: center;
}

.text {

  position: flex;
  width: 355px;
  margin-left: -20px;
  height: 10px;
  top: 60%;
  font-weight: 600;
  font-size: 18px;
   padding: -12em;
  background-color: white;
  display: flex;
   font-family: 'Poppins', sans-serif;
}

/* Safari */
/*  position: relative;
  height: 480px;
  background: url(https://preview.ibb.co/iK56rw/nametag_empty.png) no-repeat center center;
  background-size: 400px 250px;
  background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
     padding: 1em;
  background-color: white;
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
*/

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.row1{
  background-color: white;
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}


.title {
color: white;
font-size: 36px;
background-color: gray;
width: 100%;
  margin-top: 0;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}

.clip-circle {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
  overflow: hidden;
  padding-top: 35px;
}

.clip-circle9 {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 1050px;
  overflow: hidden;
  padding-top: 35px;
}


.clip-circle3 {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 90%;
  
  

}

.clip-circle4 {
  object-fit: contain;
  object-position: center;
   width: 100%;
   padding-top: 40px;
}

.clip-circle1 {
  object-fit: contain;
  object-position: center;
  width: 65%;
  height: 200px;
  overflow: hidden;
  padding-top: 15px;
 justify-content: space-around;
}

.people {
margin-left: 22px;
/* display: flex; */
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

.getit {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 17%;
}

ul {
  list-style-type: none;
}

h2 {
color: black;
font-size: 25px;
padding-bottom: 25px;
}



.icon-button {
  background-color: white;
  border-radius: .6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  width: 3.6rem;
  padding: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pads {
 padding-left: 3%;
 padding-right: 3%;
 text-align: left;
}

.cent1 {
 text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
}

.centa {
 text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 10%;
  padding-bottom: 8%;
}



.icon-button {
  background-color: white;
  border-radius: .6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  width: 3.6rem;
  padding: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.foottext {
  padding-top: -20px;
}

.horn {
  padding: 5%;
  text-align: center;
}


.nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color:lightgray;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: gray;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  .home {
    color: black;
  }